<domain type="kvm">
    <name>{{ vm_name }}</name>
    <metadata>
        <libosinfo:libosinfo xmlns:libosinfo="http://libosinfo.org/xmlns/libvirt/domain/1.0">
            <libosinfo:os id="http://debian.org/debian/12"/>
        </libosinfo:libosinfo>
    </metadata>
    <memory>524288</memory>
    <currentMemory>524288</currentMemory>
    <vcpu>1</vcpu>
    <os>
        <type arch="x86_64" machine="q35">hvm</type>
        <boot dev="hd"/>
        <smbios mode='sysinfo'/>
    </os>
    <sysinfo type='smbios'>
        <system>
            <entry name='serial'>ds=nocloud</entry>
        </system>
    </sysinfo>
    <cpu mode="host-passthrough"/>
    <devices>
        <emulator>/usr/bin/qemu-system-x86_64</emulator>
        <disk type="file" device="disk">
            <driver name="qemu" type="qcow2"/>
            <source file="{{ vm_disk_image_path }}"/>
            <target dev="vda" bus="virtio"/>
        </disk>
        <disk type="file" device="cdrom">
            <driver name="qemu" type="raw"/>
            <source file="{{ cloud_init_image_path }}"/>
            <target dev="sda" bus="sata"/>
        </disk>
        <interface type="bridge">
            <mac address="52:54:00:5f:45:c8"/>
            <source bridge="br0"/>
            <model type="virtio"/>
        </interface>
        <console type="pty"/>
    </devices>
</domain>
